.list {
  min-width: 360px;
  margin: 0 100px;
  border: solid 2px #5b5b5b;
  background-color: #212121;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.list li {
  text-align: left;
  list-style: none;
  border: solid 1px #5b5b5b;
  border-radius: 4px;
  padding: 10px;
}
