body {
  min-width: 320px;
  font-family: sans-serif;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
.base {
  width: 160px;
  height: 160px;
  margin: 20px calc((100% - 160px) / 2) 10px auto;
}
h2 {
  color: #fff;
}
